<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>football created by xiaogang on 2018/4/21</title>
    <style type="text/css">

    </style>
</head>
<body>
<header>football</header>
<div class="content" id="root">
    <div v-for="(item,key) in targetFootball">
        <p v-if="item.company.length">
            <a :href="'http://info.sporttery.cn/football/info/fb_match_hhad.php?m='+key" target="_blank">
                {{ key +' & '+ item.company[0].cn}}
            </a>
        </p>
    </div>

</div>
</body>
<script type="text/javascript" src="../common/vue.js"></script>
<script type="text/javascript" src="../common/zepto.js"></script>
<script type="text/javascript" src="../common/touch.js"></script>
<script type="text/javascript" src="../common/util.js"></script>
<script type="text/javascript" src="./football.js"></script>

</html>